<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Taxi", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
        <nav class="pull-right">
          <ul>
          <%= if @conn.assigns.current_user do %>
            <li><h4>You are logged in as <%= @conn.assigns.current_user.email %></h4></li>
            <li><%= button "Log out", to: Routes.session_path(@conn, :delete, @conn.assigns.current_user), method: "delete" %></li>
          <% else %>
            <li><h4>Welcome, guest :)</h4></li>
            <li><%= link "Log in", to: Routes.session_path(@conn, :new), class: "button button-outline" %> or <%= link "Sign up", to: Routes.user_path(@conn, :new), class: "button" %></li>
          <% end %>
          </ul>
        </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
