<section class="phx-hero">
  <h1>Book your Taxi Services</h1>
</section>

<%= link "Booking", to: Routes.booking_path(@conn, :index), class: "button" %>
<br/>
<br/>
<%= link "Manage Taxi", to: Routes.taxi_path(@conn, :index), class: "button button-outline" %>
